body {
    background-color: #B3B3B3;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);;
}

.addNewBook {
    margin-top: 2%;
    text-align: center;
}

.addNewBookLink {
    color: black;
    font-size: 25px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.listOfBooks {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 860px;
    margin: auto;
    margin-top: 5%;
}

.bookEntries {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bookDetails {
    width: 580px;
    display: inline-block;
}

.bookName {
    margin: 0;
    font-size: 25px;
}

.authorName {
    margin: 0;
    font-size: 18px;
}

.bookEditDelete {
    width: 280px;
    display: inline-block;
    text-align: center;
}

.editDelete {
    text-decoration: none;
    color: black;
    font-size: 18px;
}